[Unit]
Description=Skywire mainnet development version node start/stop service
After=network.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/skywire-start
ExecStop=/usr/local/bin/skywire-stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target